header {
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    padding-bottom: 0;
}

.nav-tabs {
    --bs-nav-tabs-border-color: #9EC8B9;
}

.nav-svgs {
    width: 1.5em;
    height: 1.5em;
}

.nav-item {
    padding: 0.5em;
}