@import './Variables';

.box {
    background-color: $dark-color;
    border-radius: 10px;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 48px;
  }

.bar {
    height: 3.5em;
}