@import "../../_variables.scss";

.navbar {
    // Color scheme
    background-color: $primary-color;

    // Padding
    padding-left: 10px;
    padding-right: 10px;

    .logoWrapper {
        max-width: fit-content;
    }
    
    .userTab {
        max-width: fit-content;
    }

    svg {
        color: $tertiary-color;
    }
}

.noDropdownArrow a::after {
    display: none !important;
}