@import "../../_variables.scss";

.navbar {
    // Color scheme
    background-color: $primary-color;

    height: 43px;


    // Padding
    padding-left: 10px;
    padding-right: 10px;

    svg {
        color: $tertiary-color;
    }

    .noDropdownArrow a::after {
        display: none !important;
    }

    .notificationWrapper {
        width: fit-content;
    }
}

